<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>预警通知</title>

</head>

<body>
<div style="width: 100%;height:100%;background: #dee5ea;padding: 20px 0px 40px 0px">
    <div style="margin: 0 auto; width: 700px;">
        <div class="logo" style="
			    margin: 0px auto;
			    display: flex;
			    align-items: center;
			    justify-content: center;">
            <img src='cid:logoImage' alt="" width="100">
            <h3 style="width:450px;margin: 0px auto;font-weight: 600;font-size: 18px;text-align: center">
                【橙域网络】监控预警</h3>
        </div>
    </div>

    <br/>
    <div style="width:700px;
                max-width: 1000px;
				margin: 0px auto;
			    padding: 40px 50px;
			    background: #fff;
			    border-radius: 8px;font-size: 14px;
				">

        <br/>
        域名：<span th:text="${domain}"></span><br/>
        电话：<span th:text="${number}"></span><br/>
        <span th:text="${text}"></span><br/>
        <p class="pp" style="text-align: right;margin-top: 20px">——— 橙域网络 云监控</p>
    </div>
</div>
</body>
</html>
